@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Nanum+Pen+Script&family=Rubik+Bubbles&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: linear-gradient(to right, #44e23e, rgba(123, 234, 254, 0.788));
}

.container {
    /* design */
    max-width: 90vw;
    width: 100%;
    min-height: 80vh;
    max-height: 80vh;
    margin: auto;
    border-radius: 24px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);

    /* functions */
    overflow-y: scroll;
}

h1 {
    color: rgb(231, 124, 36);
    font-size: 24px;
    margin-left: 5%;
}

h2{
    font-size: 1.1em;
}

.pad {
    padding: 5%;
}

p {
    font-size: 1.5em;
    font-family: 'Nanum Pen Script';
}



/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }